{{- define "main" -}}

  <section class="section">
    <div class="container">

      <div class="feature-block ltr">
        <div class="feature-block--copy">
          <h2 class="section--title">Git-first approach</h2>
          <p class="section--sub">Forestry.io takes a Git-first approach to content management. With modern static sites, all of your content should be under version control. Forestry.io is a CMS that allows your non-technical staff to make commits while updating content in a user-friendly way.</p>
        </div>
        <div class="feature-block--illu" data-emergence="hidden">
          <img src="/images/dev-illustration-02.png" class="illu-shadow--left" alt="Development illustration">
        </div>

      </div>

    </div>
  </section>

  <section class="section">
    <div class="container">

      <div class="feature-block rtl">

        <div class="feature-block--illu" data-emergence="hidden">
          <img src="/images/editor-illustration-02.png" class="illu-shadow--right" alt="Editing illustration">
        </div>

        <div class="feature-block--copy">
          <h2 class="section--title">No vendor lock-in</h2>
          <p class="section--sub">Forestry is a UI on top of your repository for your non-technical staff.  When people use Forestry.io to edit content, it commits their changes to your repository. You do not need to modify your code in any way and you can host your site wherever you choose. Zero lock-in.</p>
        </div>

      </div>

    </div>
  </section>

  <section class="section two-blocks-center">
    <div class="container">
      <div class="block-wrapper">
        <div class="block-50 center">
          <strong>Developer workflow</strong>
          <p>Developers can maintain their existing workflow and bypass Forestry completely.</p>
        </div>
        <div class="block-50 center">
          <strong>No merge conflicts</strong>
          <p>Forestry.io understands Git and protects your non-technical staff from merge conflicts.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">

      <div class="feature-block ltr">
        <div class="feature-block--copy">
          <h2 class="section--title">We take UI seriously</h2>
          <p class="section--sub">The Forestry.io interface can be customized and tailored to perfectly match your project and your data. Akin to Advanced Custom Fields but for modern, static sites.  Your users want the best, and each UI component is designed for maximum usability and ease.</p>
        </div>
        <div class="feature-block--illu" data-emergence="hidden">
          <img src="/images/dev-illustration-02.png" class="illu-shadow--left" alt="Development illustration">
        </div>

      </div>

    </div>
  </section>

  <section class="section performance">
    <div class="container">

      <div class="columns">
        <div class="column block-50">
          <h2 class="section--title">Enterprise-grade security, performance and control</h2>
        </div>
        <!-- Filler --> <div class="column block-50"></div>
      </div>

      <div class="performance--columns">
        <div>
          <strong>On-premise option</strong><br>
          Run everything behind your firewall for increased security. The Forestry.io on-premise solution connects to GitHub Enterprise, Bitbucket Server and Self-Hosted GitLab.
        </div>
        <div>
          <strong>SSO</strong><br>
          Control who has can access your sites with Single Sign-on (SSO) and various identity providers (SAML, LDAP, Active Directory, etc).
        </div>
        <div>
          <strong>Audit logs</strong><br>
          See a historical record of important events and updates to your sites.
        </div>
        <div>
          <strong>Enterprise-grade SLAs</strong><br>
          Minimum of 99.5% uptime guaranteed, ability for higher uptimes available.
        </div>
        <div>
          <strong>Dedicated success manager</strong><br>
          Every project is unique. Receive your own Customer Success Manager to help your team every step of the way.
        </div>
        <div>
          <strong>Architecture assistance</strong><br>
          Our experts have worked with governments and fortune 500 companies from around the world.  Leverage our help to architect your ideal system for maximum performance and security.  Areas of expertise include: continuous integration, continuous deployment, website performance, security, and hosting.
        </div>
        <div>
          <strong>Advanced permissions</strong><br>
          An editorial workflow that you can rely on.  Control who can create, review, approve, and publish content.
        </div>
        <div>
          <strong>Multi-branch workflow</strong><br>
          Create multiple versions of your site (branches) and control which team members can access them.
        </div>
        <div>
          <strong>Dedicated support</strong><br>
          Communications received from enterprise clients are given priority with a guaranteed response time based on your requirements.
        </div>
        <div>
          <strong>Custom limits</strong><br>
          The Forestry.io enterprise plans can be tailored to your project and are designed to grow as your requirements change.
        </div>
      </div>

    </div>
  </section>

  <!-- {{- partial "components/cta/basic" .Params.cta }} -->
{{- end -}}
